body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

nav {
  background: rgb(228, 179, 179);
  color: white;
  padding: 15px;
  font-size: 20px;
}

.hero {
  text-align: center;
  padding: 50px;
}

img {
  width: 150px;
}

button {
  padding: 10px 20px;
  border: none;
  background: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}